.Articles-Button-Group{
  display: flex;
  flex-direction: column;
}

.Content-Panel{
  padding: 28px;
}

.Articles-Panel{
  width: 35vw;
}

.Detail-Title{
  margin-top: 0px;
}

@media only screen and (max-width: 600px) {
  .Content{
    display: flex;
    flex-direction: column;
  }

  .Articles-Panel{
    width: 100vw;
    height: 35vh;
  }
}